* {
    margin: 0px;
    padding: 0px;
}
.search-box {
    display: flex;
    flex-direction: row;
}
.search-right {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.search-left {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.search-input {
border-left: none;
border-right: none;
}