* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.search-heading {

}
.search-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.search-box:hover {
    box-shadow: 4px 5px 8px;
}
.search-right {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.search-left {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: default;
}
.search-input {
border-left: none;
border-right: none;
width: 400px;
}
.search-input:focus {
    outline: none;
}
