* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
      min-height: 100%;
}

body {
   /* height: 100vh; */
}
.search-heading {

}
.search-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    margin-top: 40px;
    border-radius: 25px;
    border: 1px solid gray;
    opacity: 0.6;
    padding: 10px;
    width: 500px;
}
.search-box:hover {
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.06);
    /* box-shadow: 0 1px 6px rgba(32,33,36,.28) */
}
.search-right {
    cursor: pointer;
}
.search-left {
    
    cursor: default;
}
.search-input {
border: none;
width: 100%;
}
.search-input:focus {
    outline: none;
}
.search-btn {
    padding: 10px 15px;
    margin: 5px;
    background-color: whitesmoke;
    border: 1px solid white;
    cursor: pointer;
}
.search-btn:hover {
    border: 1px solid lightgray;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.navbar ul {
    list-style: none;
    margin: 20px;
}
.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}
.navbar .left {

}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover {
text-decoration: underline;
}
.footer {
    background-color: #f2f2f2;
    flex-shrink: 0;
}
.content {
display: flex;
align-items: center;
flex-direction: column;
}